doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/contacts/contacts
  include ../components/advantages/advantages
  include ../components/footer/footer

  head
      +head(head.defaults)
  body
    main.main
      +header-main
      +contacts-index
      +footer