extend ./layout

include ../components/images-control/images-control
include ../components/images-tile/images-tile

block content
  - var data = {title: 'Преобразовать в JPG'};
  +images-control(data)

  +images-tile-convert