doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/search/search
  include ../components/logined-user/logined-user
  include ../components/sidebar/sidebar
  include ../components/footer/footer

  head
      +head(head.defaults)
  body
    main.main._inside
      .main__layout
        +header-inside
        .main__wrapper
          .main__sidebar
            +sidebar
          .main__content
            block content
      .main__footer
        +footer-inside

      block modals
      //- Main scripts. You can replace it, but I recommend you to leave it here
      script(src='%=static=%js/main%=hash=%%=min=%.js')