mixin offer(data)
  .offer
    .offer__wrapper
      .offer__title Мы предлагаем

      .offer__list
        .offer__left
          .offer-list
            .offer-list__item Доступ к файлам по SFTP, web
            .offer-list__item Совместимость S3 Amazon Cloud
            .offer-list__item Распределённая сеть доставки файлов
            .offer-list__item Распределенные сервера по всему миру
            .offer-list__item 3х кратное архивирование ваших файлов в 2 независимых дата центрах
          
          .offer__image
            .offer__test 48 часов <span>бесплатный тест</span>

        .offer__right
          .offer-plask
            .offer-plask__left 2 TB
            .offer-plask__right свободного пространства

          .offer__cost Стоимость: <span>900 руб/ месяц</span>

          a(href="#" title="").button._coral._full Создать аккаунт сейчас