mixin files-tile(data)
  .files-tile
    .files-tile-header
      .files-tile-header__left
        .files-tile-header__checkbox
          input(type="checkbox" value="all").checkbox

        .files-tile-header-sort
          .files-tile-header-sort__title Сортировать:
          a(href="#" title="").files-tile-header-sort__item._asc По названию
          a(href="#" title="").files-tile-header-sort__item._desc По дате изменения

      .files-tile-header__right
        .files-view-switch
          a(href="#" title="").files-view-switch__item._tile._active
          a(href="#" title="").files-view-switch__item._list

    .files-tile-body
      .files-tile-item._folder
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/folder-violet.png" alt="")

        .files-tile-item__title Папка 1

      .files-tile-item._folder
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/folder-coral.png" alt="")

        .files-tile-item__title Папка 2

      .files-tile-item._folder
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/folder-blue.png" alt="")

        .files-tile-item__title Папка 3

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла

      .files-tile-item
        .files-tile-item__meta
          .files-tile-item__checkbox
            input(type="checkbox" value="").checkbox
          .files-tile-item__more
            a(href="#" title="").iconed-button._single._more

        .files-tile-item__image
          img(src="%=static=%images/assets/files-tile/image.jpg" alt="")

        .files-tile-item__title Название файла