mixin images-options(data)
  .images-options
    a(href="#").images-options-item
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/zip.png" alt="")
      .images-options-item__title Сжать фото
      .images-options-item__text Сжать JPG, PNG или GIF без потери качества. Уменьшить размер файла ваших изображений одновременно.

    a(href="#").images-options-item
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/size.png" alt="")
      .images-options-item__title Изменить размер
      .images-options-item__text Изменить размер изображений, устанавливая новые размеры в пикселях или процентах. Изменить размер JPG, PNG или GIF.

    a(href="#").images-options-item._soon
      .images-options-item__soon Скоро
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/crop.png" alt="")
      .images-options-item__title Обрезать фото
      .images-options-item__text Обрезать изображение путем установки прямоугольника в пикселях. Обрезать JPG, PNG или GIF изображения.

    a(href="#").images-options-item
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/rotate.png" alt="")
      .images-options-item__title Повернуть
      .images-options-item__text Групповой поворот изображений JPG, PNG или GIF одновременно. Выберите поворот только пейзажных или портретных изображений!

    a(href="#").images-options-item
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/to-jpg.png" alt="")
      .images-options-item__title Преобразовать в JPG
      .images-options-item__text Преобразовать TIFF, PNG, GIF или RAW изображения в JPG. Поддержка множества RAW форматов!

    a(href="#").images-options-item
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/from-jpg.png" alt="")
      .images-options-item__title Преобразовать из JPG
      .images-options-item__text Преобразовать JPG изображения в PNG или GIF. Выбрать несколько JPG файлов, чтобы создать анимированный GIF!

    a(href="#").images-options-item._soon
      .images-options-item__soon Скоро
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/watermark.png" alt="")
      .images-options-item__title Добавить водяной знак
      .images-options-item__text Сжать JPG, PNG или GIF без потери качества. Уменьшить размер файла ваших изображений одновременно.

    a(href="#").images-options-item._soon
      .images-options-item__soon Скоро
      .images-options-item__image
        img(src="%=static=%images/assets/images-options/redactor.png" alt="")
      .images-options-item__title Редактор фото
      .images-options-item__text Оживляйте свои изображения с помощью текста, эффектов, фреймов или наклеек. 