mixin about(data)
  .about
    h1 О нас

    p Мы молодая дальновидная команда, зарегистрированная в Швейцарии, и мы делаем все, чтобы оказать существенное влияние на быстро растущий рынок информационных технологий.

    p В pCloud мы стремимся обеспечить мир комплексным и легким в использовании решении для хранения в облаке как для частных лиц, так и для бизнеса. Мы не забываем о технической стороне нашего сервиса, и так же помним о конечном пользователе. Другие облачные сервисы являются либо слишком технически сложными и не удобными для использования, либо они не достаточно функциональны для пользователей и они не могут получить того, чего хотят от облачного хранилища.

    +advantages-about

    p Вот почему мы создали pCloud в 2013 году, чтобы объединить наши сильные IT-навыки с яркой креативностью нашей растущей команды создать решение для облачного хранения, которое работает без проблем как для частных лиц, так и для бизнеса.

    strong На сегодняшний день нас свыше 8 миллионов сильных и быстроразвивающихся пользователей.

mixin about-index(data)
  .about-index
    .about-index__layout
      .about-index__left
        h1 О нас

        p Мы молодая дальновидная команда, зарегистрированная в Швейцарии, и мы делаем все, чтобы оказать существенное влияние на быстро растущий рынок информационных технологий.

        p В pCloud мы стремимся обеспечить мир комплексным и легким в использовании решении для хранения в облаке как для частных лиц, так и для бизнеса. Мы не забываем о технической стороне нашего сервиса, и так же помним о конечном пользователе. Другие облачные сервисы являются либо слишком технически сложными и не удобными для использования, либо они не достаточно функциональны для пользователей и они не могут получить того, чего хотят от облачного хранилища. Вот почему мы создали pCloud в 2013 году, чтобы объединить наши сильные IT-навыки с яркой креативностью нашей растущей команды создать решение для облачного хранения, которое работает без проблем как для частных лиц, так и для бизнеса.

        strong На сегодняшний день нас свыше 8 миллионов сильных и быстроразвивающихся пользователей.

      .about-index__right
        img(src="%=static=%images/assets/about/image.jpg" alt="")

    +advantages