mixin advantages(data)
  .advantages
    .advantages__wrapper
      .advantages__title Наши преимущества

      .advantages__list
        .advantages-item._devices
          .advantages-item__title Доступ на всех устройствах
          .advantages-item__text Храните свои файлы на pCloud и имейте доступ к ним на своём компьютере через pCloud Drive, на телефоне или веб-браузере
        .advantages-item._share
          .advantages-item__title Совместное использование и совместная работа
          .advantages-item__text Отправляйте, получайте и работайте вместе со своими друзьями над каждым файлом
        .advantages-item._secure
          .advantages-item__title Невзламываемая защита
          .advantages-item__text Храните свои личные файлы в конфиденциальности с высоким уровнем шифрования используя pCloud Crypto

mixin advantages-about(data)
  .advantages._about
    .advantages__wrapper
      .advantages__list
        .advantages-item._devices
          .advantages-item__title Доступ на всех устройствах
        .advantages-item._share
          .advantages-item__title Совместное использование и совместная работа
        .advantages-item._secure
          .advantages-item__title Невзламываемая защита