mixin images-resize(data)
  .images-resize
    .images-resize__title Размер ваших фотографий был изменен!
    .images-resize__select
      .images-resize__label Папка загрузки по умолчанию:
      .select
        select
          option Папка 1
    .images-resize__buttons
      a(href="#" title="").button._coral Скачать
      a(href="#" title="").button._blue Сохранить в папку