mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner__left
        img(src="%=static=%images/assets/top-baner/jin.jpg" alt="")
      .top-baner__right
        .top-baner__title Все Ваши файлы всегда <br>с Вами, куда бы Вы не отправились!

        .top-baner__subtitle Зарегистрируйте и получите <span>20 GB бесплатного</span> пространства

        .top-baner__links
          a(href="#" title="").button._coral Создать аккаунт
          a(href="#" title="").button._blue Продолжить c Facebook

        .top-baner__test 48 часов бесплатный тест