mixin bottom-baner(data)
  .bottom-baner
    .bottom-baner__wrapper
      .bottom-baner__title Мобильное приложения JinFILE

      .bottom-baner__content

        .bottom-baner__left
          .bottom-baner__big В разработке

          .bottom-baner__text
            p Доля операционной системы Android в мире неуклонно растет и на 2017 год по разным оценкам составляет от 80% до 90%. Создание приложения для этой платформы позволит охватить действительно широкую аудиторию

            p Открытый исходный код Android привлекает таких гигантов как Samsung, Xiaomi, Sony, Amazon, Honda и даже Nokia. На сегодняшний день около 1300 компаний создали более 24 000 различных устройств на базе Android

        .bottom-baner__right
          img(src="%=static=%images/assets/bottom-baner/phone.jpg" alt="")